.profile {
  height: 100vh;
  background: url(/assets/sthlm_sunset.jpeg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .text {
    color: white;
    .title {
      font-size: 68px;
      letter-spacing: 1px;
      margin-bottom: 10px;
      font-weight: 600;
    }
    .subtitle {
      font-size: 24px;
    }
  }
}
